@import "tailwindcss";
#root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
  height: 100vh;
  width: 100vw;
}

html,
body {
  overscroll-behavior: none;
  overflow: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: #1d1d1d;
  --font-editor: "Space Mono", sans-serif;
  --font-sans: "Host Grotesk", sans-serif;
  --animate-toolbarOpen: toolbarOpen 0.8s ease-in-out;
  --animate-sidebarClose: sidebarClose 0.4s ease-in-out;
  --animate-optionOpen: optionOpen 0.2s ease-in-out;
  --animate-openUp: openUp 0.4s ease-in-out;
  @keyframes openUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
      transform-origin: center;
    }
    100% {
      /* height: 10px; */
      opacity: 1;
      transform: translateY(0px);
      transform-origin: center;
    }
  }
  @keyframes optionOpen {
    0% {
      opacity: 0;
      transform: scale(0);
      transform: translateY(10px);
      transform-origin: bottom;
    }
    100% {
      /* height: 10px; */
      opacity: 1;
      transform: scale(1);
      transform: translateY(0px);
      transform-origin: bottom;
    }
  }
  @keyframes cursorBlink {
    0% {
      opacity: 1;
      transform: scaleY(1);
      transform-origin: center;
    }
    50% {
      opacity: 0;
      transform: scaleY(0.9);
      transform-origin: center;
    }
    100% {
      /* height: 10px; */
      opacity: 1;
      transform: scaleY(1);
      transform-origin: center;
    }
  }
  @keyframes toolbarOpen {
    0% {
      opacity: 0;
      transform: translateY(100px);
      transform-origin: right;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
      transform-origin: right;
    }
  }
  @keyframes sidebarClose {
    0% {
      opacity: 1;
      width: 25%;
      /* transform: translateX(0px); */
      transform-origin: left;
    }
    50% {
      /* height: 10px; */
      opacity: 0;
      /* width: 12.5%; */
      /* transform: translateX(-1000px); */
      transform-origin: left;
    }
    100% {
      /* height: 10px; */
      opacity: 0;
      width: 0%;
      /* transform: translateX(-1000px); */
      transform-origin: left;
    }
  }
}

#optionbar * {
  transition: height 0.5s ease-in;
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
#optionbar::-webkit-scrollbar {
  display: none;
}
